@import '@/styles/mixins';

.trigger {
  cursor: pointer;

  background: inherit;
  border: none;
  outline: none;

  fill: var(--color-light-100);
  stroke: var(--color-light-100);

  &:hover svg {
    fill: var(--color-primary-100);
    stroke: var(--color-primary-100);
  }

  .btn {
    @include flex;

    cursor: pointer;

    width: 24px;
    height: 24px;
    padding: 0;

    background: transparent;
    border: none;
    border-radius: 50%;
  }
}

.content {
  @include flex(column, $justify-content: flex-start);

  will-change: transform, opacity;

  position: relative;
  z-index: 101;

  margin-top: 10px;
  padding: 0 12px;

  color: var(--color-light-100);

  background: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 4px;
}

.content::after {
  content: '';

  position: absolute;
  top: -6px;
  right: 13px;
  transform: rotate(45deg);

  width: 11px;
  height: 11px;

  background: var(--color-dark-700);
  border-top: 1px solid var(--color-dark-500);
  border-left: 1px solid var(--color-dark-500);
}

.item {
  @include flex($justify-content: flex-start, $gap: 0.625rem);

  cursor: pointer;
  user-select: none;

  position: relative;

  width: 100%;
  padding: 12px 0;

  outline: none;

  fill: var(--color-light-100);

  &:focus {
    p {
      color: var(--color-info-300);
    }

    svg {
      fill: var(--color-info-300);
    }
  }

  &:hover {
    p {
      color: var(--color-primary-100);
    }

    svg {
      fill: var(--color-primary-100);
    }
  }

  .icon {
    @include flex;
  }
}

.item::before {
  content: '';

  position: absolute;
  bottom: 0;

  display: block;

  width: 100%;
  height: 1px;

  border-bottom: 1px solid var(--color-dark-500);
}

.item:last-child::before {
  display: none;
}

.profileBlock {
  outline: none;

  .profileWrapper {
    padding: 12px 0;
  }
}

.profileBlock::before {
  content: '';

  position: absolute;
  bottom: 85px;

  display: block;

  width: 88%;
  height: 1px;

  border-bottom: 1px solid var(--color-dark-500);
}
