@import '@/styles/mixins';

.form {
  @include form-body;

  .email,
  .password,
  .passwordConfirm {
    margin-top: 27px;
  }

  .information {
    margin: 25px 0 60px;
    color: var(--color-dark-100);
  }
}

.infoText {
  @include form-bottom;
}

.loggingIn {
  @include link-form;
}
