@import '@/styles/mixins';

.cardAddition {
  padding-bottom: 25px;

  .form {
    @include form-body;

    .email,
    .password,
    .passwordConfirm {
      margin-top: 27px;
    }

    .notification {
      margin: 25px 0 60px;

      @include notification;
    }
  }

  .promptText {
    @include form-bottom;
  }

  .loggingIn {
    @include link-form;
  }
}
