@import '@/styles/mixins';

.root {
  @include flex(inline-flex);

  user-select: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 50%;
}

.small {
  width: 3.6rem;
  height: 3.6rem;
}

.large {
  width: 9.6rem;
  height: 9.6rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.fallback {
  @include flex;

  width: 100%;
  height: 100%;
  background-color: var(--color-primary-500);
}

.font {
  font-size: 50px;
}
