@import '@/styles/mixins';

.root {
  @include flex($justify-content: flex-start, $gap: 24px);

  width: 535px;
  color: var(--color-light-100);

  p:last-child {
    width: 150px;
  }

  .selectBlock {
    @include flex($gap: 12px);
  }
}

.buttons {
  @include flex($gap: 12px);
}
