@mixin container($max-width) {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}

@mixin flex(
  $display: flex,
  $flex-direction: row,
  $wrap: nowrap,
  $justify-content: center,
  $align-items: center,
  $gap: 0
) {
  display: $display;
  flex-flow: $flex-direction $wrap;
  gap: $gap;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin font(
  $font-size,
  $font-weight,
  $line-height,
  $color: var(--color-light-100),
  $text-decoration: none
) {
  margin: 0;

  font-family: var(--font-family-primary), sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
  text-decoration: $text-decoration;
}

@mixin button {
  all: unset;

  cursor: pointer;
  user-select: none;

  display: inline-flex;

  box-sizing: border-box;
  padding: 0.375rem 1.75rem;

  text-align: center;

  border-radius: 0.25rem;
  outline: 2px solid transparent;

  transition: 0.3s;

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin pagination-item {
  @include flex;

  min-width: 2.4rem;
  height: 2.4rem;

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid var(--color-info-900);
  }
}

@mixin common-animation-control($scale, $color: transparent) {
  transform: translate(-50%, -50%) scale($scale);
  background-color: var($color);
}

@mixin common-animation-interactive(
  $active-color,
  $hover-color: --color-dark-500,
  $circle-size: 36px
) {
  &::before,
  &::after {
    @include common-animation-control(0);

    content: '';

    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    display: block;

    width: $circle-size;
    height: $circle-size;

    border-radius: 50%;

    transition: 0.3s;
  }

  &:focus-visible::before {
    @include common-animation-control(1, $hover-color);
  }

  &:hover::before {
    @include common-animation-control(1, $hover-color);
  }

  &:active::after {
    @include common-animation-control(1, $active-color);

    transition: 0s;
  }

  &:disabled::before,
  &:disabled::after {
    @include common-animation-control(0);
  }
}
