@import '@/styles/mixins';

.formWrapper {
  padding: 33px 36px 25px;

  .form {
    @include flex($flex-direction: column, $justify-content: flex-start, $align-items: flex-start);

    width: 100%;

    .email,
    .password {
      margin-top: 27px;
    }

    .checkbox {
      max-width: 12.5rem;
      margin-top: 12px;
    }

    .forgotPasswordLink {
      align-self: flex-end;
      margin-bottom: 60px;
    }
  }

  .infoText {
    margin-top: 20px;
    color: var(--color-light-900);
  }

  .signUp {
    @include link-form;
  }
}
