@import '@/styles/mixins';

.form {
  @include form-body;

  .email,
  .password {
    margin-top: 27px;
  }

  .checkbox {
    margin-top: 12px;
  }

  .forgotPasswordLink {
    align-self: flex-end;
    margin-bottom: 60px;
  }
}

.infoText {
  @include form-bottom;
}

.signUp {
  @include link-form;
}
