@import '@/styles/mixins';

.cardAddition {
  padding-bottom: 60px;

  .form {
    @include flex($flex-direction: column, $justify-content: flex-start);

    .input {
      margin: 51px 0 19px;
    }

    .notification {
      margin-bottom: 41px;

      @include notification;
    }
  }
}
