@import '@/styles/mixins';

.cardAddition {
  padding-bottom: 25px;

  .form {
    @include form-body;

    .email,
    .password,
    .passwordConfirm {
      margin-top: 27px;
    }

    .signUp {
      margin-top: 60px;
    }
  }

  .promptText {
    @include form-bottom;
  }

  .signIn {
    @include link-form;
  }
}
